body{
    margin: 0;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
   
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}

@media screen and (max-width: 500px){

    #clock{
        font-family: monospace;
        font-size: 3.5rem;
        font-weight: bold;
        text-align: center;
        color: white;
        backdrop-filter: blur(5px);
        background-color: hsla(0, 0%, 100%, 0.1);
        width: 100%;
    }
    
}  
